.bb-modal {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  visibility: hidden;
}
.bb-modal.visible {
  visibility: visible;
}

.bb-modal-template {
  position: absolute;
  z-index: 10002;
  top: 0; left: 0; bottom: 0; right: 0;
  margin: auto;
  border-radius: 4px;
  box-shadow: 1px 1px 0.3em black;
  background-color: white;
}