.bb-modal {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  z-index: 10000;

  background-color: rgb(40,40,40);
  background-color: rgba(0,0,0,0.7);
  visibility: hidden;
}
.bb-modal.visible {
  visibility: visible;
}

.bb-modal-template {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10002;
  position: absolute;
  margin: auto;

  border-radius: 4px;
  box-shadow: 1px 1px 0.3em black;
  background-color: #FFF;
  padding: 2em;
  box-sizing : border-box;
}